$system-font: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
$title-size: 4rem;
$sub-title-size: 3rem;
$content-size: 1.25rem;
$title-weight: 700;
